.j-header {

    .js-burger {
        margin-top: -20px;
        margin-right: 16px;
    }
}

.navbar-item {
    border-radius: 5px;
    height: 40px;
}

.brand-text {
    font-family: "Zain", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
    padding-right: 25px;
}

.navbar-hr {
    margin: 0;
    padding: 0;
}   


/* Estilo para vistas móviles */
@media (max-width: 1023px) {
    .navbar-end {
        margin-right: 16px;
        justify-content: flex-end; /* Alinea el contenido a la derecha */
        display: flex; /* Asegura que el contenedor use flexbox */
    }
}